.btn {
  color: black;
  background-color: transparent;
  width: 100px;
  height: 25px;
  border-radius: 12px;
  border-style: solid;
  border-color: brown;
  margin-left: 15px;
}
.btn:hover,
.btn:focus {
  background-color: brown;
  color: white;
}
