.btn {
  width: 90px;
  height: 25px;
  background-color: rgb(162, 231, 216);
  border-style: solid;
  border-color: rgb(162, 231, 216);
  border-radius: 10px;
}
.btnList {
  display: flex;
  gap: 15px;
}
